@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin transition-delay($args...) {
  -webkit-transition-delay: $args;
  -moz-transition-delay: $args;
  -ms-transition-delay: $args;
  -o-transition-delay: $args;
  transition-delay: $args;
}

// generic transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}
// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}
// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin($origin) {
  -moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: "";

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);

  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }

  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

// Usage @include rowMachine(4,2%);
// First number is how many items, Second is margin between

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

// Usage @include pseudo;
// To change default arguments @include pseudo($pos: relative)

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}
// Usage @include input-placeholder { color: $grey; }

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
// Usage background-color: tint($color__site-green, 25%);

@mixin hover {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}
// Usage @include hover {}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf svg
) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + "." + $extmod)) format(quote($format)),
      comma
    );
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

$screen-xs-min: 391px;
$screen-sm-min: 430px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1288px;
$screen-xxl-min: 1700px;

// Mixins
@mixin xs {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
} // Tiny devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
} // Small devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
} // Medium devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
} // Large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
} // Extra large devices
@mixin xxl {
  @media (max-width: #{$screen-xxl-min}) {
    @content;
  }
}

// Mobile-first Mixins
@mixin xs-up {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
} // Tiny devices and up
@mixin sm-up {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
} // Small devices and up
@mixin md-up {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
} // Medium devices and up
@mixin lg-up {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
} // Large devices and up
@mixin xl-up {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
} // Extra large devices and up
@mixin xxl-up {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
} // Extra extra large devices
