/*----------------------------------
  HEADER STYLES
  ---------------------------------------------------------------------------------*/
body {
  position: relative;

  .rn-header {
    padding: 1.5rem 0;
    position: relative;
    z-index: 55;
    justify-content: center;
    background: #0f172a;
    @include lg-up {
      padding: 2.5rem 0;
    }
    &__logo {
      height: 2.4rem;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: auto;
      @include md-up {
        height: 3.8rem;
      }
      @include lg-up {
        height: 4.5rem;
      }
    }
  }
}
